.axis path, line {
  stroke: #0B0414;
  stroke-width: 1px;
}

.axis-label {
    fill: #0B0414;
}

.circle {
    stroke: #0B0414;
    stroke-width: 1;
}

.circle:hover {
    stroke: #FC4616;
    stroke-width: 4;
}

.circle.fade {
    stroke: gray;
    fill: gray;
}

.ticklabel > text {
    transform: rotate(-65);
}

.grid {
    opacity: 0.3;
    stroke-width: 1px;
    overflow: hidden;
}