.axis path, line {
  stroke: #0B0414;
  stroke-width: 1px;
}

.axis-label {
    fill: #0B0414;
}

.ticklabel > text {
    transform: rotate(-65);
}

.grid {
    opacity: 0.3;
    stroke-width: 1px;
    overflow: hidden;
}