@import '../../utils/colors.css';

.hero {
    top: 0;
    left: 0;
    width: 100vw;
    height: 500px;
}


.title {
    text-align: center;
    top: 350px;
    position: relative;
}

.title > h1 {
    margin-bottom: .2em;
}

.svg {
    position: absolute;
    left: 0;
    top: 40px;
}

.circle {
    fill: var(--darkRed);
    /* filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7)); */
}

.active {
    stroke: var(--hotpink);
    stroke-width: 2px;
}

.projects {
    height: 80vh;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.blog {
    height: 80vh;
    margin: 0 auto;
    max-width: 650px;
}

@media only screen and (max-device-width: 680px) {
    .projects {
        margin: 0 4% 0 4%;
    }

    .blog {
        margin: 0 4% 0 4%;
    }
}
