@import '../../utils/colors.css';

.hero {
    background-color: var(--lemonYellow);
    top: 0;
    left: 0;
    width: 100vw;
}

.title {
    text-align: center;
}

.title > h1 {
    margin-bottom: .2em;
}

.svg {
    display: flex;
    justify-content: center;
}

.circle {
    fill: var(--darkRed);
    filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
}

.projects {
    height: 40vh;
    position: relative;
}

.blog {
    height: 40vh;
}