@import '../../utils/colors.css';

.footer {
    background-color: var(--darkPurple);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2em;
}

.a {
    all: initial;
}

.a > * {
    all: unset;
}

.icon {
    height: 1em;
    width: 1em;
    margin-right: 2.1em;
    margin-left: 2.1em;
    fill: var(--lightGray);
}

.icon:hover {
    fill: var(--darkRed);
    cursor: pointer;
    justify-content: space-between;
}
