.container {
    margin: 0 auto;
    max-width: 960px;
}

.pure-g {
    width: 100% !important;
    height: 100% !important;
}

.pure-g > div {
    width: 95% !important;
    height: 95% !important;
}
