.footer {
    background-color: #0D030D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2em;
}

.a {
    all: initial;
}

.a > * {
    all: unset;
}

.icon {
    height: 1em;
    width: 1em;
    margin-right: 2.1em;
    margin-left: 2.1em;
    fill: #8490A7;
}

.icon:hover {
    fill: #592037;
    cursor: pointer;
    justify-content: space-between;
}
