.header {
    padding: 1.25rem 1rem;
    margin-bottom: 1.5rem;
}

.headerTitle {
    text-shadow: none;
    background-image: none;
}

.headerTitle > h1 {
    display: inline;
}

.headerList {
    list-style: none;
    float: right;
}

.headerList > li {
    display: inline-block;
    padding-right: .5rem;
}