.header {
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
    background-color: #0D030D;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTitle {
    text-shadow: none;
    background-image: none;
    color: white;
    text-decoration: none;
}

.headerTitle {
    font-size: 1.2rem;
    text-decoration: none;
}

.headerTitle:hover {
    color: #F52B86;
    text-decoration-color: #F6E444;
}
