.header {
    padding: .5rem 1rem;
    margin-bottom: 1.5rem;
    background-color: #0D030D;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTitle {
    text-shadow: none;
    background-image: none;
    color: white;
    text-decoration: none;
}

.headerTitle > a {
    font-size: 1.5rem;
}

.headerTitle > a:hover {
    color: #FF530D;
}
