:root {
    --darkRed: #592037;
    --darkPurple: #0D030D;
    --darkBlue: #0A1428;
    --darkGray: #63738D;
    --lightGray: #8490A7;
    --backgroundColor: #FFFFFF;
    --hotPink: #F52B86;
    --lemonYellow: #F8E9AC;
}
