@import '../../../utils/colors.css';

.medianLine {
    stroke: var(--lightgray);
    stroke-width: 3px;
}

.medianText {
    font-size: 1em;
    stroke: var(--lightgray);
}

.wrapper {
    text-align: center;
}