.tooltip {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    box-shadow: 0 0 4 4 rgba(0,0,0,0.5);
}

.tooltip > p {
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
    width: 40%;
}

.tooltip > p > span {
    align-self: flex-end;
    font-weight: normal;
    margin-bottom: 0px;
    text-decoration: underline;
    text-decoration-color: #fff;
}