.legend {
    font-size: 14px;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 8px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
}

.title {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}

.row {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
